* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #262626;
  color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.div__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle {
  margin-bottom: 10px;
}

.clock {
  display: none;
}

#analogClock {
  width: 300px;
  height: 300px;
  background-color: rgba(255,255,255, 0.05);
  border-radius: 50%;
  border: 2px solid #f4f4f4;
  box-shadow: 0 0 20px 10px #181818;
  display: flex;
  justify-content: center;
  align-items: center;
}

#digitalClock {
  padding: 20px;
  background-color: rgba(255,255,255, 0.05);
  border-radius: 10px;
  border: 2px solid #f4f4f4;
  display: none;
  box-shadow: 0 0 20px 5px #181818;
}

#digitalDisplay {
  font-size: 2rem;
  text-align: center;
}

#digitalClock.active, #analogClock.active {
  display: block;
}

.div__clock span {
  position: absolute;
  transform: rotate(calc(var(--i) * 30deg));
  inset: 10px;
  text-align: center;
  font-size: 19px;
}

.div__clock span b {
  transform: rotate(calc(var(--i) * (-30deg)));
  display: inline-block;
}

.div__clock::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: #f4f4f4;
  border-radius: 50%;
  z-index: 111;
}

.hand {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hand i{
  position: absolute;
  width: var(--width);
  height: var(--height);
  background-color: var(--bg-color);
  border-radius: 8px;
}

@media (max-width: 475px) {
  #analogClock {
    width: 250px;
    height: 250px;
  }

  .div__clock span {
    font-size: 19px;
  }

  .div__clock::before {
    width: 8px;
    height: 8px;
  }

  .hand:nth-child(1) i {
    height: 60px;
  }

  .hand:nth-child(2) i {
    height: 65px;
  }

  .hand:nth-child(3) i {
    height: 70px;
  }
}